*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    width:100%;
    height:100%;
    background: linear-gradient(rgba(14, 196, 228, 0.79),rgb(0, 225, 255));
   

}

#nav{
    width:100%;
    height:60px;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    padding:20px;
}
#div1{
    display: flex;
    justify-content: center;
    align-items:center ;
   
}
#div1 a{
    margin-right:30px;
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-weight: 600;
}
/* #div1 i{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
} */
#nav>i{
    font-size: 40px;
    color: rgb(199, 97, 180);
}
#menu{
    width:20px;
    height:20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.line{
    width:100%;
    height:3.5px;
    background-color: black;
    transform-origin: 0% 0%;
}

.card{
    opacity:0;
    position: absolute;
    top:-30%;
    left:50%;
    transform: translate(-50%,-50%);
    gap:15px;
    padding:10px 0px;
    /* height:470px; */
    width:300px;
    background-color: #fff;
    border-radius: 15px;
     display:flex;
     flex-direction: column;
     justify-content:space-around;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1.5s;
}
.card img{
   
    width:40%;
    height:120px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}
.card button{
    padding:10px 40px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    background-color:rgb(0, 225, 255) ;
    color:white;
     cursor: pointer;
}
.card p{
    text-align: center;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 600;
}
.card h5{
    font-size:20px;
    color:red;
}
#drop{
    display:flex;
    flex-direction: column;
    width:20%;
    background-color:black;
    position: absolute;
    top:-10%;
    left:88%;
    opacity:0;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    padding:7px;
}
#drop a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 300;
}
 #btn{
    width:170px;
    padding: 6px;
    margin-top: 20px;
    margin-left:30px ;
    border-radius: 20px;
    background-color: aqua;
   }